<launch>
    
  <param name="LoopRate" value="10" />
  <param name="deltaTime" value="0.1" />


  <node name="time" type="nodeGenTime" pkg="custom_msg" >
    <param name="number_int" value="3"/>    
  </node>

  <node name="Write_Y" type="nodeWriteOut" pkg="custom_msg" >
    <param name="InPort1" value="generateTime"/>
    <param name="FileOutName" value="/home/vietviet/catkin_ws/valY.txt"/>
 </node>  

</launch>
